.book-container {
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#bookName {
    color: #000;
    font-size: 2em;
    margin-bottom: 1px;
    margin-top: 0;
}

.book-details {
    flex: 1;
    font-size: 1.2em;
}

.book-image img {
    max-width: 200px;
    height: auto;
    border-radius: 3px;
}

.property-title {
    color: #79CDF1;
    font-weight: bold;
    font-size: 1em;
}

#stars-container, #userRatingStars {
    display: flex;
    align-items: center;
    font-size: 1em;
    margin: 5px;
}

.stars-container {
    display: flex;
    justify-content: center; /* Center the stars horizontally */
    align-items: center;
}

.star {
    color: gray;
    font-size: 34px;
    margin: 0 2px;
    position: relative;
}

.star.full {
    color: gold;
}

.star.half::before {
    content: '\u2605';
    color: gold;
    position: absolute;
    width: 50%;
    overflow: hidden;
    display: inline-block;
}

.star.half {
    color: gray; /* Ensure the half star's base is gray */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    width: 80%;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    margin: 0;
    padding: 20px;
    border: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#userRatingStars {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#stars-container .star, #userRatingStars .star {
    font-size: 2em;
    color: gold;
    margin: 0 2px;
}

#userRatingStars .star {
    color: gray;
    cursor: pointer;
}

#userRatingStars .star:hover, #userRatingStars .star:hover ~ .star {
    color: gold;
}

.rate-button-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-right: 200px;
}

.rate-button-container button {
    background-color: #79CDF1;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

