{#
{#Base page variables:#}
{#-- page_lang | default: 'en'#}
{#-- page_head_title_author | default: 'Barak Pinchovski'#}
{#-- page_head_title | default: 'Flask skeleton project'#}
{##}

{#
Base page blocks:
- head
-- page_head
-- page_head_meta
--- page_head_meta_extra
-- page_head_css

- body
-- page_body_content
--- page_body_header
---- page_body_header_content
----- page_body_header_content__main_menu
------ page_body_header_content__main_menu_content
------- page_body_header_content__main_menu_content_links
--- page_body_main
---- page_body_main_content
--- page_body_footer
---- page_body_footer_content
-- page_body_js
 #}

{#בקובץ המקורי כל הלמעלה היה בהערות#}

{#<!DOCTYPE html>#}
{#<html lang="{{ page_lang|default("en", true) }}">#}
{#<head>#}
{#    {% block page_head %}#}
{# Title #}
{#        <title>{{ page_head_title_author|default('Barak Pinchovski', true) }}#}
{#            | {{ page_head_title|default('Flask skeleton project', true) }}</title>#}
{##}
{# Meta tags #}
{#        {% block page_head_meta %}#}
{#            <base href="/"/>#}
{#            <meta charset="UTF-8"/>#}
{#            <meta name="author" content="Barak Pinchovski"/>#}
{#            <meta name="description" content="Flask skeleton project as a base to start developing on"/>#}
{#            <meta name="keywords"#}
{#                  content="flask, lean, skeleton, project, structure, environment, setup, template, fullstack, web, development, app, university, education"/>#}
{#            {% block page_head_meta_extra %}{% endblock %}#}
{#        {% endblock %}#}
{##}
{# favicon #}
{#        <link rel="icon" href="{{ url_for('static', filename='media/img/favicon/flask-favicon.png') }}"/>#}
{##}
{# Base #}
{#        <base href="/"/>#}
{##}
{# CSS #}
{#        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>#}
{#        {% block page_head_css %}#}
{#            <link rel="stylesheet" href="{{ url_for('static', filename='css/main_menu.css') }}">#}
{#        {% endblock %}#}
{#    {% endblock %}#}
{#</head>#}
{#<body>#}
{#{% block page_body_content %}#}
{#    {% include 'Header.html' %}#}
{#    {% include 'Footer.html' %}#}
{##}
{# Header #}
{#    {% block page_body_header %}#}
{#        <header class="page-header">#}
{#            {% block page_body_header_content %}#}
{##}
{# Main Menu #}
{#                {% block page_body_header_content__main_menu %}#}
{#                    <nav class="main-menu">#}
{#                        {% block page_body_header_content__main_menu_content %}#}
{#                            <ul>#}
{#                                {% block page_body_header_content__main_menu_content_links %}#}
{#                                    {% include 'main_menu.html' %}#}
{#                                {% endblock %}#}
{#                            </ul>#}
{#                        {% endblock %}#}
{#                    </nav>#}
{#                {% endblock %}#}
{##}
{#            {% endblock %}#}
{#        </header>#}
{#    {% endblock %}#}
{##}
{# Main #}
{#    {% block page_body_main %}#}
{#        <main class="page-main">#}
{#            {% block page_body_main_content %}#}
{#            {% endblock %}#}
{#        </main>#}
{#    {% endblock %}#}
{##}
{# Footer #}
{#    {% block page_body_footer %}#}
{#        <footer class="page-footer">#}
{#            {% block page_body_footer_content %}#}
{#            {% endblock %}#}
{#        </footer>#}
{#    {% endblock %}#}
{##}
{#{% endblock %}#}
{##}
{# JS #}
{#<script src="{{ url_for('static', filename='js/base.js') }}"></script>#}
{#{% block page_body_js %}#}
{#    <script src="{{ url_for('static', filename='js/main_menu.js') }}"></script>#}
{#{% endblock %}#}
{#</body>#}
{#</html>#}

{#עד לפה היה לא בהערות אבל לא עבד, העתקתי את קובץ הBASE מההרצאה ועכשיו הוא עובד אבל דל#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        {{ page_head_title|default('Base') }}
    {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Inter&family=Inknut+Antiqua:wght@400;700&display=swap" rel="stylesheet">
    {% block page_head_css %}{% endblock %}
</head>
<body>
{% include('header.html') %}
<main>
    {% block main %}

    {% endblock %}
</main>
{% include('footer.html') %}
{% block page_body_js %}{% endblock %}
</body>
</html>

