<header>
    <nav>
        <a href="/homePage">דף הבית</a> |
        <a href="/profile">פרופיל אישי</a> |
        <a href="/book">ספרים חדשים</a> |
        <a href="/about">אודות</a> |
        <a href="/login">התנתקות</a> |
        <a href="/base">בייס</a> |
        <a href="/menu">תפריט</a> |
{#        מפה והלאה לקחתי מההרצאה, מניח שזה יעזור בהמשך#}
{#        {% if session.get('logged_in') %}<a href="/logout">LOGOUT</a>{% else %}<a href="/login">LOGIN</a>{% endif %} |#}
        <a href="/mongodb">MongoDB</a> |
        <a href="/fetch_page">Fetch Page</a> |
        <a href="/users">Users</a> |
    </nav>
</header>