{% extends 'base.html' %}

{% block title %}
Main Page
{% endblock %}

{% block main %}
{% set default_name = 'Stranger' %}
{#{% set x = 'y' %}#}

{% if name %}
{#    <h1>Welcome, {{ name | default(default_name, true) | upper }}!</h1>#}
    {% if session.get('logged_in') %}
        <h1>Welcome, {{ session.get('username') }}!</h1>
    {% else %}
        <h1>Welcome, stranger!</h1>
    {% endif %}

    <h2>My Hobbies</h2>
    <ul>
        {% for hobby in hobbies %}
            <li><h3>{{ hobby }}</h3></li>
        {% endfor %}
    </ul>
    <h2>My Info</h2>
    {% for k, v in user_info.items() %}
        <div>
            <h4>{{ k }}: {{ v }}</h4>
        </div>
    {% endfor %}
    <h2>My Degrees</h2>
    <ol>
        {% for degree in degrees %}
            <li>{{ degree }}</li>
        {% endfor %}
    </ol>
{% elif login %}
    <h1>Go to log in form</h1>
{% else %}
    <h1>Please, register first!</h1>
{% endif %}
    {{ super() }}

    <a href="/login">LogIn</a>

<h2 class="{% if redcolor %} red {% else %} green {% endif %}">This is a H2 tag!</h2>

{% endblock %}