{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block main %}

<h1>Welcome to LogIn Page!</h1>

    <h2>The method of the URL: {{ req_method }}</h2>


{#    {% if username %}#}
{#        <h3>Username: {{ username }}</h3>#}
{#        <h3>Email: {{ email }}</h3>#}
{#    {% else %}#}
{##}
{#        <h2>Form of GET method:</h2>#}
{##}
{#<form method="GET" action="/login">#}
{#    Username:#}
{#    <br>#}
{#    <input type="text" name="username">#}
{#    <br>#}
{#    Email:#}
{#    <br>#}
{#    <input type="email" name="email">#}
{#    <br>#}
{#    Password:#}
{#    <br>#}
{#    <input type="password" name="password">#}
{#    <br>#}
{#    <input type="submit" value="Submit">#}
{#</form>#}
{##}
{#    {% endif %}#}

{% if username %}
        <h3>Username: {{ username }}</h3>
        <h3>Email: {{ email }}</h3>
    {% else %}
<h2>Form of POST method:</h2>

<form method="POST" action="/login">
    Username:
    <br>
    <input type="text" name="username">
    <br>
    Email:
    <br>
    <input type="email" name="email">
    <br>
    Password:
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Submit">
</form>
    {% endif %}

{% endblock %}




{#{% if session.get('logged_in') %}#}
{#    <h3>User: {{session.get('username')}}</h3>#}
{#    <h3>Email: {{session.get('email')}}</h3>#}
{#{% else %}#}




{#{% extends 'index.html' %}#}
{##}
{#{% block header %}#}
{#        {% set page_name = 'Log In Page' %}#}
{#        {% include('header.html') %}#}
{#{% endblock %}#}
{##}
{#{% block Main %}#}
{#    <form method="POST" action="/log_in">#}
{#        <input name="username" type="text" placeholder="name">#}
{#        <input name="lastname" type="text" placeholder="last name">#}
{#        <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}