<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Readiculous - Register</title>
    <link rel="stylesheet" href="../Register.css">
    <link rel="stylesheet" href="../General.css">
    <link href="https://fonts.googleapis.com/css2?family=Istok+Web&family=Inter&family=Inknut+Antiqua:wght@400;700&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a href="Login.html">התחברות</a>
    </nav>
</header>
<main>
    <h1 class="main-title">Readiculous</h1>
    <h2 class="subtitle">הרשמה כמשתמש חדש</h2>
    <div class="register-box">
        <form id="registerForm">
            <div class="form-group">
                <div class="form-column">
                    <label for="email">כתובת דואר אלקטרוני:</label>
                    <input type="email" id="email" name="email" placeholder="example@gmail.com" required>

                    <label for="firstName">שם פרטי:</label>
                    <input type="text" id="firstName" name="firstName" required>
                    <div id="firstNameError" class="error-message"></div>

                    <label for="lastName">שם משפחה:</label>
                    <input type="text" id="lastName" name="lastName" required>
                    <div id="lastNameError" class="error-message"></div>

                </div>
                <div class="form-column">
                    <label for="birthDate">תאריך לידה (dd/mm/yyyy):</label>
                    <div class="birth-date-container">
                        <input type="text" id="birthDate" name="birthDate" placeholder="dd/mm/yyyy" required
                               onclick="showCalendar()">
                        <span class="calendar-icon" onclick="showCalendar()">📅</span>
                    </div>
                    <label for="password">בחירת סיסמא:</label>
                    <input type="password" id="password" name="password" required>
                    <label for="confirmPassword">וידוא סיסמא:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                </div>
            </div>
            <button type="submit" class="register-button">הרשמה</button>
        </form>
    </div>
    <div class="quote-sction">
        <p class="quote"> "Reading is essential for those who seek to rise above the ordinary"<br>
            Jim Rohn -</p>
    </div>
</main>
<footer>
    <p>&copy; 2024 Readiculous</p>
</footer>
<script src="../Register.js"></script>
</body>
</html>
